* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    background-color: rgb(0, 0, 0);
}

header {
    text-align: center;
}

header > h1 {
    color: #ffffff;
    margin: 25px 0px;
}

.destaque-alto-valor { 
    border-left: 20px solid #e74c3c; 
    background-color: #ffe8e8; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
}


.destaque-credito-linha { 
    border-left: 20px solid #1abc9c; 
    background-color: #e8fff5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.valor.destaque-debito-forte {
    color: #e74c3c; 
    font-size: 1.2em; 
}

.valor.destaque-credito-forte {
    color: #1abc9c; 
    font-size: 1.2em; 
    font-weight: 900; 
}

article.transacao {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 18px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.233);
}
